.postable-draft-mention-suggestions-container {
  border: 1px solid #d5d8df;
  background-color: #ffffff;
  border-radius: 4px;
  min-width: 250px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 2147483638;
}

.postable-draft-mention-text {
  background-color:#D6E7FF !important;
  color: #365de6;
  padding: 1px;
  border-radius: 1px;
}